:root{
    --bl-color-primary: #ce0606;
    --bl-color-primary-lighter: #eb2222;

    --bl-color-danger: #fa5151;

    --bl-color-lighter:#f9fbfd;
    --bl-color-lightgray: #b8b7b7;
    --bl-color-gray: #767684;
    --bl-color-black: #000000;
   
}