.bl-wrapper{
    max-width:var(--bl-main--wrapper);
    
    margin: 0 auto;
    color: aliceblue;
}

.bl-wrapper > .bl-cabecalho{
    height: 92px;
    width: 100%;
    background: white;
    color: blue;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.473);
}

.bl-wrapper > .bl-cabecalho > .wrapper{
    max-width: var(--bl-main--wrapper);
    margin: 0 auto;
    display: flex;
    justify-content: center;

    
}

.bl-wrapper > .principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 92px;
 
}

 .bl-wrapper > .principal > .left{
     padding-top: 48px;
     color: black;
    
}

.bl-wrapper > .principal> .right{
     overflow: hidden;
     position: relative;
     
}

.bl-wrapper > .principal> .right > .image{
    height: 100%;
    position: absolute;
    min-width: 100%;